@tailwind base;
@tailwind components;
@tailwind utilities;


.link {
  @apply text-stone-800 hover:text-stone-100 dark:text-stone-800 dark:hover:text-stone-400 underline;
}

.highlight {
  @apply bg-stone-100 dark:bg-stone-100;
}

.with-border {
  @apply border border-sky-500 dark:border-sky-500;
}

.work-entry.current .dot {
  @apply bg-stone-800 dark:bg-stone-800;
}

.work-entry:nth-child(odd) {
  @apply self-end pl-12;
}

.work-entry:nth-child(even) {
  @apply self-start pr-12 text-right;
}

.work-entry:nth-child(odd) .dot-bg {
  @apply left-0 -translate-x-2/4;
}
