<section class="pb-8">
  <h3 class="font-header font-semibold text-xl uppercase mb-6 text-sky-500">Education</h3>
  <div class="space-y-6 border-l-stone-500 dark:border-l-stone-500">
    {% for item in author.alumniOf %}
      <div class="relative">
        <div>
          <h4 class="font-bold">{{ item.certification }}</h4>
          <p class="mt-2 text-sm">{{ item.org }}, {{ item.address.addressLocality }}, {{ item.address.addressRegion }}, {{ item.address.addressCountry }}</p>
          <time datetime="{{ item.year_start }}" class="mt-1 text-sm font-semibold">{{ item.year_start }}</time> - <time datetime="{{ item.year_end }}" class="mt-1 text-sm font-semibold">{{ item.year_end }}</time>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
