<footer class="highlight mt-16 pt-8 pb-16">
  <div class="mx-auto px-4 text-center font-header text-xs">
    <strong>&copy; {% year %} {{ author.name }}</strong> All rights reserved.
  </div>
</footer>