<footer class="highlight mt-16 pt-8 pb-8 text-xs text-center">
  <p class="px-4">
    <strong>&copy; {% year %} {{ author.name }}</strong> All rights reserved.
  </divp>
  <p class="px-4 pt-4">Starter template by <a href="https://www.gurpreet-singh.in/" rel="noreferrer">Gurpreet Singh</a>.</p>
</footer>