<section class="flex pb-8">
  <div class="w-1/2 pr-4 lg:pr-12 border-r border-r-husky-400 dark:border-r-husky-600 border-line">
    <h3 class="font-header font-semibold text-front text-md uppercase">Company</h3>
    <p class="font-header font-light text-xl text-front leading-tight">{{ author.org }}</p>
  </div>
  <div class="w-1/2 pl-4 lg:pl-12">
    <h3 class="font-header font-semibold text-front text-md uppercase">Current Focus</h3>
    <p class="font-header font-light text-xl text-front leading-tight">{{ author.currentFocus }}</p>
  </div>
</section>